<a routerLink="/admin/addFilm" class="form__btn">Ajouter film</a>
<div>
    <div class="card-body">
        <table class="accordion__list">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Titre</th>
                    <th>Nationalite</th>
                    <th>Genre</th>
                    <th>Realisateur</th>
                    <th>FilmRatings</th>
                    <th>AddedDate</th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let film of films">
                    <th>{{film.id}}</th>
                    <th>{{film.titre}}</th>
                    <th>{{film.nationalite}}</th>
                    <th>{{film.genre}}</th>
                    <th>{{film.realisateur}}</th>
                    <th>{{film.avergeRating}}</th>

                    <th>{{film.addedDate}}</th>

                    <th>
                        <i (click)="delete(film.id)" class="fas fa-trash" aria-hidden="true"></i>
                    </th>
                </tr>

            </tbody>
        </table>
    </div>
</div>