<!-- header -->
<header class="header">
	<div class="header__wrap">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header__content">
						<!-- header logo -->
						<a href="index.html" class="header__logo">
							<img src="img/logo.svg" alt="">
						</a>
						<!-- end header logo -->

						<!-- header nav -->
						<li class="header__nav-item">

							<a class="header__nav-link" routerLinkActive="header__nav-link--active"
								[routerLinkActiveOptions]="{exact:true}" routerLink="/">Acceuil</a>

						</li>

						<li class="header__nav-item">

							<a class="header__nav-link" routerLinkActive="header__nav-link--active"
								[routerLinkActiveOptions]="{exact:true}" routerLink="/films">Films</a>

						</li>

						<li class="header__nav-item">

							<a class="header__nav-link" routerLinkActive="header__nav-link--active"
								[routerLinkActiveOptions]="{exact:true}" routerLink="/evenement">Événements</a>

						</li>



						<li class="header__nav-item">

							<a class="header__nav-link" routerLinkActive="header__nav-link--active"
								[routerLinkActiveOptions]="{exact:true}" routerLink="/contact">Contactez nous</a>

						</li>
						<!-- end header nav -->

						<!-- header auth -->
						<div class="header__auth">
							<a href="signin.html" class="header__sign-in">
								<i class="icon ion-ios-log-in"></i>
								<span>Espace Admin</span>
							</a>
						</div>
						<!-- end header auth -->

						<!-- header menu btn -->
						<button class="header__btn" type="button">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<!-- end header menu btn -->
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<router-outlet></router-outlet>

<!-- footer -->
<footer class="footer">
	<div class="container">
		<div class="row">

			<!-- footer list -->
			<div class="col-12 col-sm-4 col-md-3">
				<h6 class="footer__title">Contact</h6>
				<ul class="footer__list">
					<li><a href="tel:+18002345678">+1 (800) 234-5678</a></li>
					<li><a href="mailto:support@moviego.com">support@flixgo.com</a></li>
				</ul>
				<ul class="footer__social">
					<li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
					<li class="instagram"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
					<li class="twitter"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
					<li class="vk"><a href="#"><i class="icon ion-logo-vk"></i></a></li>
				</ul>
			</div>
			<!-- end footer list -->
		</div>
	</div>
</footer>
<!-- end footer -->
