<a routerLink="/admin/addUpdateGenre/" class="form__btn">Ajouter genre</a>
<div>
    <div class="card-body">
        <table class="accordion__list">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Libelle</th>
                    <th></th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let genre of genres" (dblclick)="prepareModification(genre.id)">
                    <th>{{genre.id}}</th>
                    <th>{{genre.libelle}}</th>
                    <th><i (click)="delete(genre.id)" class="fas fa-trash" aria-hidden="true"></i>
                    </th>


                </tr>

            </tbody>
        </table>
    </div>
</div>