<!-- <form class="my-form" [formGroup]="form" (ngSubmit)="onSubmit()"> -->
<form #addForm="ngForm" (ngSubmit)="onAddSeance(addForm)" class="my-form" method="post">

  <div class="container">
    <h1>Ajouter une seance</h1>
    <!-- <div class="text-center mt-1 mb-1">
            <small class="text-white" *ngIf="validationMesage">{{validationMesage}}</small>

        </div> -->
    <ul>
      <li>
        <div>
          <div class="f-control">
            <!-- <input type="text" ngModel placeholder="date de projection" name="dateProjection" required /> -->
            <div>
              <input type="date" name="dateProjection" id="dateProjection" ngModel
                value="Selectionnez la date de projection" required>

            </div>
            <!-- <small class="text-white" *ngIf="form.get('libelle').touched && form.get('libelle').invalid">Valeur de Liblle Invalide</small> -->
          </div>
          <div class="f-control">
            <input type="time" ngModel placeholder="Heure de debut" name="heureDebut" required />
            <!-- <small class="text-white" *ngIf="form.get('libelle').touched && form.get('libelle').invalid">Valeur de Liblle Invalide</small> -->
            <!-- <label for="appt">Choose a time for your meeting:</label> -->

            <!-- <input type="time" id="appt" name="appt" min="09:00" max="18:00" required> -->

          </div>
        </div>
      </li>
      <li>
        <div class="f-control">
          <input type="time" ngModel placeholder="heure de Fin" name="heureFin" required />
          <!-- <small class="text-white" *ngIf="form.get('libelle').touched && form.get('libelle').invalid">Valeur de Liblle Invalide</small> -->
        </div>
      </li>
      <li>
        <div class="f-control-100">
          <select name="film" ngModel>
            <option selected disabled>-- Veuillez choisir un film --</option>
            <option *ngFor="let film of films" [value]="film.id">
              {{ film.titre }}
            </option>
          </select>

        </div>
      </li>
      <li>
        <div>
          <div class="f-control-100">
            <select name="salle" ngModel>
              <option selected disabled>-- Veuillez choisir le numero salle --</option>
              <option *ngFor="let salle of salles" [value]="salle.id">
                {{ salle.numero }}
              </option>
            </select>
          </div>
        </div>
      </li>
      <li>
        <div>
          <div class="f-control">
            <button [disabled]="addForm.invalid" class="btn-grid" type="submit">
              <span class="front">SUBMIT</span>
            </button>
          </div>


          <div class="f-control">
            <button class="f-control" class="btn-grid" type="reset">
              <span class="front">RESET</span>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</form>