<form #addForm="ngForm" (ngSubmit)="onAddSeance(addForm)" class="my-form" method="post">

  <div class="container">
    <h1>Ajouter une seance</h1>
    <ul>
      <li>
        <div>
          <div class="f-control">
           
            <div>
              <input type="date" name="dateProjection" id="dateProjection" ngModel
                value="Selectionnez la date de projection" required>

            </div>
            
          </div>
          <div class="f-control">
            <input type="time" ngModel placeholder="Heure de debut" name="heureDebut" required />
          
          </div>
        </div>
      </li>
      <li>
        <div class="f-control">
          <input type="time" ngModel placeholder="heure de Fin" name="heureFin" required />
          <!-- <small class="text-white" *ngIf="form.get('libelle').touched && form.get('libelle').invalid">Valeur de Liblle Invalide</small> -->
        </div>
      </li>
      <li>
        <div class="f-control-100">
          <select name="film" ngModel>
            <option selected disabled>-- Veuillez choisir un film --</option>
            <option *ngFor="let film of films" [value]="film.id">
              {{ film.titre }}
            </option>
          </select>

        </div>
      </li>
      <li>
        <div>
          <div class="f-control-100">
            <select name="salle" ngModel>
              <option selected disabled>-- Veuillez choisir le numero salle --</option>
              <option *ngFor="let salle of salles" [value]="salle.id">
                {{ salle.numero }}
              </option>
            </select>
          </div>
        </div>
      </li>
      <li>
        <div>
          <div class="f-control">
            <button [disabled]="addForm.invalid" class="btn-grid" type="submit">
              <span class="front">SUBMIT</span>
            </button>
          </div>


          <div class="f-control">
            <button class="f-control" class="btn-grid" type="reset">
              <span class="front">RESET</span>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</form>